.modal {
    display: block;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    overflow: auto;
    -webkit-opacity: 0;
    -ms-opacity: 0;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
    &-content {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        transition: 0.3s;
    }
    &-content-active {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
.modal-active {
    -webkit-opacity: 1;
    -ms-opacity: 1;
    opacity: 1;
    pointer-events: all;
}
.modal-video {
    display: block;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    overflow: auto;
    -webkit-opacity: 0;
    -ms-opacity: 0;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
    .modal-video-content {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        transition: 0.3s;
    }
    .modal-video-content-active {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
.modal-video-active {
    -webkit-opacity: 1;
    -ms-opacity: 1;
    opacity: 1;
    pointer-events: all;
}
.modal-video-registration {
    width: 800px;
    position: relative;
    padding: 45px;
    background: #E5F5F5;
    border-radius: 10px;
    font-size: 31px;
    line-height: 37px;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transform: rotate(-45deg);
    z-index: 99;
}
.close:before,
.close:after{
    content: "";
    position: absolute;
    background-color: #F551A2;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}
.close:before{
    width: 100%;
    height: 2px;
}
.close:after{
    width: 2px;
    height: 100%;
}
.modal-registration {
    position: relative;
    padding: 45px;
    background: #E5F5F5;
    border-radius: 10px;
}
.modal-registration h3 {
    font-size: 31px;
    line-height: 37px;
}
.modal__btn{
    margin-top: 50px;
}
.entrance__cnt{
    margin-top: 35px;
    min-height: 137px;
}

.mod__done{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 312px;
}
.mod__done__tit{
    display: flex;
    align-items: center;
}
.mod__done strong{
    font-weight: 800;
    font-size: 21px;
    line-height: 31px;
    text-transform: uppercase;
    color: #374F8F;
}
.mod__done img{
    display: block;
    margin-left: 3px;
}
.mod__done span{
    font-weight: 800;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #374F8F;
}
.modal-video-sing{
    width: 880px;
    height: 560px;
}
.modal-sing{
    max-width: 536px;
}
.modal-sing__numb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-sing__numb strong, .modal-sing__numb span{
    font-weight: 800;
    font-size: 21px;
    line-height: 23px;
    text-transform: uppercase;
    color: #374F8F;
}
.modal-enroll{
    margin-top: 35px;
    min-height: 137px;
}
.modal-enroll>span{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #374F8F;
}
.add-catalog-val-count{
    display: flex;
    align-items: center;
    margin-top: 18px;
    user-select: none;
}
.decrement span, .increment span{
    color: #374F8F;
    font-size: 28px;
    cursor: pointer;
}
.decrement-inactive {
    pointer-events: none;
    transition: 0.5s;
    opacity: 0.3;
}
.add-catalog-val-count label{
    display: flex;
    margin: 0 8px;
}
.catalog-count-value{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #374F8F;
    text-align: center;
    border-bottom: 1px solid #909EC4;
    width: 52px;
    background: unset;
}
.modal__button{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal__button-first{
    justify-content: right !important;
}
.block-checked{
    margin-top: 13px;
}
.checkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #374F8F;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #909EC4;
    border-radius: 2px;
}
.checkcontainer .checkmark:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 11px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkcontainer input:checked ~ .checkmark {
    border: 2px solid #374F8F;
}
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
    border: solid #374F8F;;
    border-width: 0 2px 2px 0;
}
@media (max-width: 991px){
    .modal-video-sing{
        width: 688px;
        height: 427px;
    }
}
@media (max-width: 760px){
    .modal-video-sing{
        width: 496px;
        height: 319px;
    }
}
@media (max-width: 500px){
    .modal-video-sing{
        width: 438px;
        height: 285px;
    }
    .modal-sing{
        max-width: 430px;
    }
}